* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: #695e9c3b;
  color: #111;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 18px;
}

h1 {
  margin: 0 0 8px;
  font-family: fantasy;
  text-align: center;
}

h2 {
  margin: 22px 0 10px;
  font-family: fantasy;
  text-align: center;
}

h3 {
  margin: 0 0 6px;
  font-family: fantasy;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 18px;
  justify-items: center;
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 12px;
  background: #fff;
}

.card h3 {
  margin: 0 0 10px;
}

.svgBox {
  width: 300px;
  height: 300px;
  border: 1px solid #ddd;
  display: block;
}

.imgBox {
  width: 300px;
  height: auto;
  border: 1px solid #ddd;
  display: block;
}

.footer {
  border-top: 1px solid #eee;
  margin-top: 20px;
  padding-top: 10px;
  text-align: center;
  font-family: fantasy;
}
